# Настройка сервера:
API_PORT=8080

# Настройка JWT токенов:
JWT_ACCESS_SECRET_KEY="secret_1"
JWT_ACCESS_SECRET_KEY_EXPIRE=15

JWT_REFRESH_SECRET_KEY="secret_2"
JWT_REFRESH_SECRET_KEY_EXPIRE=43200


# Настройка БД:
POSTGRES_URL="postgres://postgres:postgres@localhost:6432/postgres?sslmode=disable"
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres

# Общие настройки
ENVIRONMENT=test
