name: Deploy on test

on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.TEST_SERVER_HOST }}
          username: ${{ secrets.TEST_SERVER_USER }}
          key: ${{ secrets.TEST_SERVER_PRIVATE_KEY }}
          script: |
            cd ${{ secrets.TEST_PROJECT_PATH }}
            git pull
            systemd-run --scope -p MemoryMax=2G -p CPUQuota=50% \
            docker-compose build \
            --build-arg build_time="$(date +"%d.%m.%Y %H:%M")" \
            --build-arg version="${{ github.run_number }}"-dev \
            --build-arg base_url="${{ secrets.TEST_BASE_URL }}" \
            --build-arg yandex_metrika_id="${{ secrets.TEST_YANDEX_METRIKA_ID }}" \
            --build-arg static_url="${{ secrets.TEST_STATIC_URL }}" \
            --build-arg sentry_dsn="${{ secrets.TEST_SENTRY_DSN }}" \
            --build-arg sentry_auth_token="${{ secrets.TEST_SENTRY_AUTH_TOKEN }}" \
            --build-arg ws_url="${{ secrets.TEST_WS_URL }}" \
            --build-arg donate_url="${{ secrets.DONATE_URL }}" \
            --build-arg sentry_conf="${{ secrets.TEST_SENTRY_CONF }}" \
            && docker-compose up -d
